html {
    background-color: #cccccc;
    text-align: center;
}

.head-image {
    display: none;
}

.links-heading {
    padding-bottom: 10px;
}

@media (min-width: 768px) {
    #home {
        background: url("../img/the_face_200.png") no-repeat center top;
        padding-top: 280px;
        min-height: 880px;
    }

    .intro-text {

        font-size: 20px;
        font-weight: 300;
        color: #ffffff;

    }

    .intro-text-head {
        font-size: 65px;
    }

    #links {
        padding-bottom: 80px;
        padding-top: 40px;
    }

    .links-heading {
        padding-bottom: 20px;
    }

}

@media (max-width: 767px) {
    .head-image {
        display: block;
        background: url("../img/the_face_small.png") no-repeat center top;
        min-height: 330px;
    }
}





