*.java.hsp
*.sonarj
*.sw*
.DS_Store
.settings
.springBeans
bin
build.sh
integration-repo
ivy-cache
jxl.log
jmx.log
derby.log
.gradle
argfile*
pom.xml
activemq-data/

/build
buildSrc/build
target/
/dist

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
battlecat-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea/
out
test-output
atlassian-ide-plugin.xml

node_modules
bower_components
*.log
### https://raw.github.com/github/gitignore/4a9d41f8947b9fe5850914abb7e59a59e1ae2cb6/Global/Vagrant.gitignore

.vagrant/


