html {
    background-color: #cccccc;
    text-align: center;
}

.links-heading {
    padding-bottom: 10px;
}

.title-name {
    margin-bottom: 0px;
}

.head-image h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#portrait {
    position: relative;
    top: 0; bottom:0; left: 0; right:0;
    margin: 0px auto;
    width: 100%;
}

.title-name-row {
    display: none;
}

h4 {
    font-size: 24px;
}

@media (min-width: 768px) {
    #home {
        background: url("../img/psy_the_face_200.jpg") no-repeat center top;
        padding-top: 250px;
        min-height: 880px;
    }

    .head-image {
        display: none;
    }

    .title-name-row {
        display: block;
    }

    .title-name {
        font-size: 30px;
        font-weight: 300;
        color: #ffffff;
    }

    .intro-text {

        font-size: 20px;
        font-weight: 300;
        color: #ffffff;

    }

    .intro-text-head {
        font-size: 65px;
    }

    #links {
        padding-bottom: 80px;
        padding-top: 40px;
    }

    .links-heading {
        padding-bottom: 20px;
    }


}

@media (max-width: 767px) {
    .head-image {
        display: block;
    }

    .title-name {
        font-size: 20px;
    }

    h3.intro-text-head {
        margin-bottom: 0px;
        font-size: 30px;
    }
}
